.BlogHero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../../../../assets/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.svg {
  width: 100%;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: none;
}

.img {
  display: none;
}

.BlogHero {
  position: relative;
  max-height: 610px;
}

.heroImg {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .heroflex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .heroChild1 {
    width: 36rem;
    display: block;
    height: 100%;
  }
  .heroChild2 {
    width: 34rem;
    height: 100%;
  }
}

@media screen and (min-width: 1560px) {
  .BlogHero::before {
    display: none;
  }
  .svg, .img {
    display: block;
  }
}
