.blogImg {
  display: block;
  width: 100%;
}
.author {
  width: auto;
}

@media screen and (min-width: 768px) {
  .author {
    width: 32%;
  }
  .author1 {
    width: 30rem;
  }
  .content1 {
    width: 50rem;
  }
  .content {
    width: 37rem;
  }
  .img {
    width: 30rem;
  }
}
